body
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.container
{
	max-width: 1350px;
	margin: 0 auto;
}
.heading
{
	height: 50px;
	display: flex;
	padding: 2%;
	align-content: space-between;
}
#left-heading
{
	width:100px;
	padding: 0;
	font-size: 20px;
	text-align: center;
	margin-left:6%;
}
#cntr-heading
{
	margin: 0 auto;
	width:400px;
}
.heading-a
{
	text-decoration: none;
	color: #000000;
}
#right-heading
{
	width: 150px;
	margin-right: 4%;
}
.search-icons
{
	font-size: 15px
}
.menu-icons
{
	font-size: 15px
}
.heading-ul
{
	list-style-type: none;
}
.heading-li{
	display: inline-block;
	padding-left: 5%;
}
.heading-icon{
	display: inline-block;
	padding-left: 13%;
}
.navbar{
    display: none;
}
.center-banner
{
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	background-position: center;
}
#square-box
{
	background: #61727B;
	position: absolute;
	top: 100px;
	left: 0px;
	color: white;
	width: 400px;
	height: 250px;
	padding: 1%;
	margin: 0;
	z-index: 3;
}
#caption1
{
	font-size: 30px;
	margin-left: 80px;
}
#sub1
{
	font-size: 15px;
	margin-left: 80px;
	margin-right: 80px;
}
.squares
{
	display: flex;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 15%;
	margin-top: 45%;
}
.empty-squre{
	border: 3px solid #61727B;
	background: transparent;
	width: 100px;
	height: 100px;
	z-index: 1;
	margin: 0;
}
#img1{
	height: 25%;
	width: 64%;
	margin-left: 18%;
	margin-bottom:0 ;
	padding: 1%;
	z-index: 2;
	position: relative;
}
.icon-squre
{
	background: #61727B;
	position: absolute;
	/* margin-left: 80%; */
	left: 850px;
	width: 100px;
	height: 100px;
	z-index: 3;
	/* margin: 0; */
}
#down-arrow-icon
{
	color: white;
	margin-left: 40%;
	 margin-top: 30%;
	font-size: 40px;
	font-weight: lighter;
}
.service
{
	padding: 3%;
	margin-top: 80px;
	display: flex;
}
.line
{
	border: 2px solid #61727B;
	width: 10%;
	margin-left: 80px;
	margin-top: 55px;
	height: 0;
}
#caption2
{
	display: block;
	width: 20%;
	font-size: 25px;
	padding-left: 3%;
}
#service-para-icon1
{
	margin-top: 14px;
	width:50px;
	height:50px;
}
#service-para-icon2
{
	margin-left:0%;
	margin-top: 8px;
	width:50px;
	height:50px;  
}
#service-para-icon3
{
	margin-left:0%;
	margin-top: 14px;
	width:50px;
	height:50px;
}
.service-icons
{
	display: flex;
	width: 50%;
}
.service-para
{
	display: flex;
	text-align: left;
	margin-left: 110px;
	padding-bottom: 5%;
}
.service-para-subdiv
{
	padding-left: 30px;
	display: block;
	
}
.p1
{
	font-size: 24px;
	font-weight: 100px;
	display: block;
}
.quality-para
{
	font-size: 15px;
	width: 60%;
	display: inline-block;
}
.shiping-para
{
	font-size: 15px;
	width: 60%;
	display: inline-block;
}
.warranty-para
{
	font-size: 15px;
	width: 70%;
	display: inline-block;
}
.exp-nmbr
{
	display: flex;
	padding: 2%;
	margin: 0;
}
#imgexp
{
	width: 35%;
	height: 35%;
	margin-left: 7%;
}
#Experience-paragraph
{
	margin-left: 8%;
	width: 25%;
}
#experience-heading{
	font-size: 30px;
	font-weight: 700;
	display: block;
	width: 70%;
	
}
#experience-para
{
	font-size: 18px;
	font-weight: 300;
	display: block;
	width: 150%;
}
.sub-exp-details
{
	margin-left: 15%;
}
.sub-exp
{
	display: flex;
	padding: 4%;
	justify-content: space-between;
	width: 100%;
}
.numbers
{
	font-size: 60px;
	font-weight: 600;
	color: #61727B;
}

.btn-learn
{
	padding: 2%;
	background: transparent;
	border-color: #61727B;
}
#btn-arrow
{
	font-size:36px;
	position: relative; 
	left:-10px;
	top: 8px; 
	font-weight: lighter;
}
.expernce{
	display: flex;
	padding: 2%;
	margin-left: 80px;
}
.expernce-head
{
	display:inline-block;
	width: 40%;
}
#contdiv
{
	padding: 2%;
	width: 90%;
	counter-reset: counter-name;
}
#exp-p
{
	font-size: 30px;
	font-weight: 700;
}
.exp-head
{
	font-size: 20px;
	font-weight: 550;
}
#exp-p-sub
{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 10px;
	width: 100%;
}
.imgdiv2{
	width: 80%;
	height: 50%;
	margin-left: 55px;
	margin-top: 40px;
}
#img2
{
	width: 70%;
	height: 50%;
}
/* .exp-head::before
{
	counter-increment: counter-name;
	content: counter(counter-name);
	position: absolute;
	left: 50px;
	background: #61727B;
	width: 20px;
	height: 20px;
	 border-radius: 20px; 
	color: white;
	padding: 1%;
	margin-top: -5px;
	text-align: center;
} */
.expernce-cont
{
	display: flex;
}
.numbr-icons
{
	margin-top: 5%;
	padding-top: 15px;
}
.one{
	background: #61727B;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	color: white;
	padding: 2%;
	margin-top: 20px;
}
.vert-line
{
	border: 1px solid #61727B;
	width: 0;
	margin-left: 44%;
	margin-top: 30%;
	height: 15%;
}
.num-para
{
	text-align: center; 
	margin-top: 12px;
}
.customers
{
	display: flex;
	padding: 0;
}
.customers-head
{
	padding: 2%;
}
#cus-p{
	margin-left: 60px;
	font-size: 30px;
	font-weight: 700;
	display: block;
	width: 65%;
}
#arrows
{
	display: flex;
	width: 5%;
	height: 8%;
	margin-top: 60px;
	margin-left: 500px;
}
#left-arrow
{
	color: rgb(195, 195, 195);
	margin: 30%;
	font-size: 40px;
	font-weight: lighter;
}
#right-arrow
{
	color: #61727B;
	margin: 30%;
	font-size: 40px;
	font-weight: lighter;
}
.testimnl
{
	display: flex;
	padding: 2%;
	margin-left: 2%;
}
.quote-icon
{
	color: white;
}
.quote-icon-testi2
{
	color: white;
}
.testi-one
{
	background: #61727B;
	color: white;
	width: 35%;
	height: 40%;
	margin-left: 3%;
	padding: 3%;
}
.testi-two
{
	background: #61727B;
	color: white;
	width: 35%;
	height: 40%;
	margin-left: 3%;
	padding: 3%
}
.testi-para
{
	font-size:15px;
}
.testi-para-head
{
	font-size: 30px;
}
.testimnl-profile
{
	display: flex;
}
.testimnl-profile-img1{
	height: 40px;
	border-radius: 20px;
}
.testimnl-profile-img2
{
	height: 40px; 
	border-radius: 20px;
}
.testi-name
{
	font-size:20px
}
.testimnl-profile-para{
	margin-top: 0;
	font-size:15px
}
.subscribe
{
	margin-left: 35%;
	width: 40%;
	padding: 0%;
}
#sub-p-head
{
	font-size: 30px;
	font-weight: 800px;
	text-align: center;
	display: block;
	width: 75%;
}
#sub-p
{
	font-size: 15px;
	text-align: center;
	display: block;
	width: 75%;
}
.search
{
	position: relative;
	left: 400px;
	top: 30px;
	background: white;
	max-width: 40%;
	padding-bottom: 10px;
	display: flex;
	border: 1px solid white ;
	box-shadow: -8px -8px 10px -6px #000000;
}
#search-para
{
	margin-left:15px;
	margin-top:20px;
	display: block;
	width: 100%;
}
#email
{
	border: none;
	width: 80%;
}
#button
{
	background:#61727B;
	margin-left:0px;
	margin-top: 10px;
	padding: 2%;
	width: 20%;
	height: 20%;
	color: white;
}
.contact
{
	background: #61727B;
	text-decoration: none;
	color: white;
	height: 60%;
	width: auto;
	display: flex;
	padding: 10% 5% 2% 7%;
}
#company-about
{
	padding: 1%;
	width: 40%;
	line-height: 25px;
}
#company-about-para
{
	font-size: 15px;
	display: block;
	width: 60%;
}
#about
{
	margin-left: 0%;
	padding: 2%;/
}
#company
{
	margin-left: 6%;
	width: 10%;
	padding-top: 2%;
}
#support
{
	margin-left: 5%;
	width: 10%;
	padding-top: 2%;
}
#get-touch
{
	margin-left: 4%;
	width: 15%;
	padding-top: 2%;
}
#get-touch-para
{
	font-size: 15px;
	line-height: 25px;
	margin-top: 35px;
}
.contact-list
{
	list-style-type: none;
	padding: 0;
}
.contact-sublist
{
	padding-top: 20%;
	font-size: 15px;
}
.contact-heading
{
	font-size: 20px;
	font-weight: 600;
}
#social-media
{
	display: flex;
	margin-left: 25px;
}
.social-media-space
{
	margin-left:30px
}
.social-app
{
	text-decoration: none;
	color: white;
}
.insta-icon
{
	font-size: 15px;
}
.facebook-icon
{
	font-size: 15px;
}
.twitter-icon
{
	font-size: 15px;
}


 
/*  Responsive website*/

@media (max-width:1024px)
{
	#right-heading
	{
		margin-right: 3%;
	}
	#square-box
	{
		top: 50px;
		left: 0px;
		width: 360px;
		height: 220px;
		padding: 1%;
	}
	#caption1
	{
		font-size: 16;
	}
	#sub1
	{
		font-size: 12px;
	}
	/* .squares
	{
		top: 420px;
		left: 150px;
	}*/
	.icon-squre
	{
		left: 650px;
	} 
	.line
	{
		margin-left: 60px;
	}
	.service-para-subdiv
	{
		padding-left: 10px;
		width: 50%;
	} 
	.quality-para
	{
		font-size: 15px;
		width: 80%;
	}
	.shiping-para
	{
		font-size: 15px;
		width: 80%;
	}
	.warranty-para
	{
		font-size: 15px;
		width: 85%;
	}
	#service-para-icon2
	{
		margin-left: 15px;
	}
	#service-para-icon3
	{
		margin-left: 15px;
	}
	#Experience-paragraph
	{
		margin-left: 10%;
		margin-right: 18%;
	}
	#experience-heading
	{
		width: 75%;
	}
	.expernce-head
	{
		width: 85%;
	}
	#exp-p
	{
		width: 70%;
		
	}
	.numbr-icons
	{
		margin-top: 13px;
	}
	.imgdiv2
	{
		margin-left: 0px;
		padding-left: 0;
	}
	#img2
	{
		width: 80%;
		height: 100%;
	}
	#contdiv
	{
		padding: 0;
		width: 80%;
	}
	#arrows
	{
		margin-left: 350px;
	}
	.testi-one
	{
		width: 38%;
	}
	.testi-two
	{
		width: 38%;
	}
	.testi-para
	{
		width: 90%;
		font-size: 11px;
	}
	.testi-para-head
	{
		font-size: 25px;
	}
	.subscribe
	{
		width: 50%;
		margin-left: 300px;
	}
	#sub-p
	{
		width: 80%;
	}
	.search
	{
		left: 250px;
		max-width: 50%;
	}
	#company-about
	{
		
		padding-left: 0;
		padding-right: 0;
		width: 30%;
	}
	#company-about-para
	{
		font-size: 12px;
	}
	#about
	{
		margin-left: 3%;
		padding: 1%;
	}
	#company
	{
		margin-left: 3%;
		padding: 1%;
	}
	#support
	{
		margin-left: 3%;
		padding: 1%;
	}
	#get-touch
	{
		margin-left: 3%;
	}
}
/* @media (max-width:931px)
{
	.squares
	{
		top: 600px;
		left: 180px;
	}
	.icon-squre
	{
		left: 750px;
	}
} */
@media(max-width:995px)
{
	#caption1 , #sub1
	{
		margin-left: 55px;
	}
	/* .squares
	{
		left: 100px;
		top: 300px;
	}
	.icon-squre
	{
		left: 480px;
	} */
	#caption2
	{
		width: 40%;
	}
	.service-para-subdiv
	{
		width: 100%;
	}
	.p1
	{
		font-size: 20px;
	}
	#experience-heading
	{
		width: 100%;
	}
	.numbers{
		font-size: 50px;
	}
	.expernce
	{
		margin-left: 50px;
	}
	#exp-p
	{
		width: 100%;
	}
	.exp-head
	{
		font-size: 17px;
	}
	#exp-p-sub
	{
		font-size: 14px;
	}
	.imgdiv2
	{
		margin-top: 200px;
	}
	#img2
	{
		width: 100%;
		height: 100%;
	}
	#arrows
	{
		margin-left: 100px;
	}
}
@media(max-width:820px)
{
	.icon-squre
	{
		left: 480px;
	}
}
@media(max-width:780px)
{
	#caption1 , #sub1
	{
		margin-left: 55px;
	}
	.squares
	{
		left: 100px;
		top: -50pxpx;
		margin-left: 0;
	}
	.icon-squre
	{
		left: 480px;
	}
	#caption2
	{
		width: 40%;
	}
	.service-para-subdiv
	{
		width: 100%;
	}
	.p1
	{
		font-size: 20px;
	}
	#experience-heading
	{
		width: 100%;
	}
	.numbers{
		font-size: 50px;
	}
	.expernce
	{
		margin-left: 50px;
	}
	#exp-p
	{
		width: 100%;
	}
	.exp-head
	{
		font-size: 17px;
	}
	#exp-p-sub
	{
		font-size: 11px;
	}
	.imgdiv2
	{
		margin-top: 200px;
	}
	#img2
	{
		width: 100%;
		height: 100%;
	}
	#arrows
	{
		margin-left: 100px;
	}
	.testi-para-head
	{
		font-size: 24px;
	}
	.contact
	{
		display: block;
		text-align: center;
		padding: 0;
	}
	#company-about
	{
		padding-left: 250px;
		width: 60%;
		padding-top: 10%;
	}
	#about
	{
		margin-top: 5%;
	}
	#company
	{
		margin-top: 5%;
		margin-left: 30%;
		width: 40%;
	}

	#support
	{
		margin-top: 5%;
		margin-left: 30%;
		width: 40%;
	}
	#get-touch
	{
		margin-top: 5%;
		margin-left: 30%;
		width: 40%;
	}
	#get-touch-para
	{
		margin-top: 5%;
	}
	.contact-sublist
	{
		padding-top: 2%;
	}
	#social-media
	{
		margin-left: 100px;
	}
}
@media(max-width:768px)
{
	#cntr-heading
	{
		margin-left: 40px;
	}
	#square-box
	{
		top: 20px;
		width: 290px;
		height: 200px;
		padding: 0;
	}
	#caption1
	{
		font-size: 20px;
		margin-left: 60px;
	}
	#sub1
	{
		font-size: 11px;
		margin-left: 60px;
		line-gap-override: 4px;
		display: block;
		width: 65%;
	}
	.squares
	{
		left: 100px;
		top: 0px;
	}
	.icon-squre
	{
		left: 450px;
	}
	#caption2
	{
		width: 40%;
	}
	.service-para
	{
		display: block;
	}
	.service-para-subdiv
	{
		width: 80%;
	}
	.service-icons
	{
		padding-left: 2%;
	}
	#service-para-icon1
	{
		margin-left: 25px;
		width:30px;
		height:30px;
	}
	#service-para-icon2
	{
		width:40px;
		height:40px;  
	}
	#service-para-icon3
	{
		width:30px;
		height:30px;
	}
	.exp-nmbr
	{
		display: inline;
		padding: 0;
	}
	#imgexp
	{
		margin-left: 14%;
		width: 50%;
		height: 50%;
	}
	#Experience-paragraph
	{
		margin-top: 10%;
		margin-left: 14%;
		width: 50%;
	}
	#experience-heading
	{
		width: 50%;
	}
	.expernce
	{
		display: inline;
		padding-top: 10%;
	}
	#exp-p
	{
		padding-top: 7%;
		width: 50%;
	}
	#exp-p-sub
	{
		width: 80%;
	}
	.imgdiv2
	{
		margin-left: 80px;
	}
	.customers-head
	{
		margin-left: 20px;
	}
	#arrows
	{
		margin-left: 100px;
	}
	.testimnl
	{
		display: inline;
	}
	.testi-one
	{
		width: 70%;
		margin-left: 10%;
	}
	.testi-two
	{
		width: 70%;
		margin-left: 10%;
		margin-top: 5%;
	}
	.testi-para
	{
		font-size: 15px;
	}
	.subscribe
	{
		margin-left: 24%;
		width: 70%;
	}
	.search
	{
		max-width: 71%;
		left: 115px;
	}
	.contact
	{
		display: block;
		text-align: center;
		padding: 0;
	}
	#company-about
	{
		padding-left: 250px;
		width: 60%;
		padding-top: 10%;
	}
	#about
	{
		margin-top: 5%;
	}
	#company
	{
		margin-top: 5%;
		margin-left: 30%;
		width: 40%;
	}

	#support
	{
		margin-top: 5%;
		margin-left: 30%;
		width: 40%;
	}
	#get-touch
	{
		margin-top: 5%;
		margin-left: 30%;
		width: 40%;
	}
	#get-touch-para
	{
		margin-top: 5%;
	}
	.contact-sublist
	{
		padding-top: 2%;
	}
	#social-media
	{
		margin-left: 100px;
	}
}
@media (max-width: 450px)
{
	.heading
	{
		display: none;
	}
	.navbar 
	{
        height: 60px;
        padding: 10px 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .heading-captn
	{
        font-size: 20px;
        padding: 5px 6px;
    }
	#menu
	{
		visibility: hidden;
	}
    .main-menu 
	{
        position: relative;
        z-index: 4;
    }
	#menu-icons-resposive
	{
		margin-right: 1%;
	}
    .dropdown-a
	{
        color: #ffffff; 
        font-size: 18px;
        padding: 5px 6px;
        cursor: pointer;
		text-decoration: none;
    }
    .dropdown-content 
	{
       display: none;
       position: absolute;
       background: #61727B;
       min-width: 100px;
       right: 1px;
       padding: 0px 20px;
    }
    .dropdown-ul
	{
       list-style-type: none;
       padding: 0;
       margin: 0;
    } 
    .dropdown-li 
	{
       padding: 20px 0;
	   border-top: 1px solid rgb(177, 177, 177);
	   text-decoration: none;
    }
    .menu:checked ~ .dropdown-content 
	{
       display: block;
    }
	.close-option
	{
		float: right;
	}
	#close-icon
	{
		color: #ffffff;
	}
	.icon-squre
	{
		left: 20px;
	}
	.squares
	{
		visibility: hidden;
	}
	#img1{
		left: 20px;
		top: 0px;
		width: 90%;
		height: 80%;
		padding: 0;
		margin: 0;
	}
	#caption1
	{
		display: block;
		width: 60%;
		font-size: 25px;
		margin-left: 30px;
	}
	#sub1
	{
		font-size: 15px;
		margin-left: 30px;
		text-align: justify;
	}
	#square-box
	{
		width: 90%;
		height: 80%;
		top: 300px;
		left: 20px;
	}
	.service
	{
		padding-top: 200px;
	}
	.line
	{
		margin-left: 10px;
		width: 50px;
	}
	#caption2
	{
		display: block;
		width: 70%;
	}
	.service-para
	{
		margin-left: 40px;
	}
	.service-para-subdiv
	{
		max-width: 85%;
	}
	.service-icons
	{
		width: 80%;	
	}
	#service-para-icon1
	{
		margin-left: 0;
	}
	#service-para-icon2
	{
		margin-left: -10px;
	}
	#service-para-icon3
	{
		margin-left: -10px;
	}
	#imgexp
	{
		margin-left: 10%;
		width: 85%;
		height: 80%;
	}
	#Experience-paragraph
	{
		margin-left: 5%;
		margin-top: 80px;
		width: 85%;
	}

	.expernce
	{
		margin-left: 50px;
	}
	.expernce-head
	{
		margin-top: 70px;
		margin-left: -30px;
		
	}
	#exp-p
	{
		font-size: 25px;
		width: 80%;
	}
	#experience-heading
	{
		font-size: 25px;
		width: 80%;
	}
	#experience-para
	{
		font-size: 15px;
		width: 85%;
	}
	.numbers
	{
		font-size: 38px;
	}
	
	#exp-p-sub
	{
		font-size: 12px;
		width: 89%;
	}
	.numbr-icons {
		margin-top: 5px;
	}
	.imgdiv2
	{
		margin-left: 20px;
		margin-top: 25px;
		width: 90%;
		height: 80%;
	}
	#img2
	{
		width: 100%;
		height: 80%;
	}
	.customers
	{
		margin-left: 20px;
	}
	.customers-head
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#cus-p
	{
		margin-left: 0;
		padding: 0;
	}
	#arrows
	{
		margin-left: -100px;
	}
	#left-arrow
	{
		font-size: 20px;
	}
	#right-arrow
	{
		font-size: 20px;
	}
	.testi-one
	{
		margin: 20px;
		width: 85%;
	}
	.testi-two
	{
		margin: 20px;
		width: 85%;
	}
	.testi-para-head
	{
		font-size: 20px;
		display: block;
		width: 80%;
		height: 70%;
	}
	.testi-para
	{
		font-size: 15px;
	}
	.testi-name
	{
		font-size: 15px;
	}
	.testimnl-profile-para
	{
		font-size: 11px;
	}
	#sub-p-head
	{
		font-size: 22px;
	}
	#sub-p
	{
		font-size: 10px;
	}
	.search
	{
		max-width: 90%;
		display: flex;
		left: 17px;
	}
	#search-para
	{
		font-size: 8px;
	}
	#button
	{
		font-size: 10px;
		margin-left: 0px;
	}
	#company-about
	{
		padding-left: 150px;
		width: 60%;
	}
	#social-media
	{
		margin-left: 50px;
	}	
}
@media (max-width: 380px)
{
	#cntr-heading
	{
		left: 30px;
	}
	#right-heading
	{
		margin-left: 200px;
	}
	#img1
	{
		left: 20px;
		top: 0px;
		height: 100%;
		width: 90%;
	}
	.squares
	{
		visibility: hidden;
	}
	.icon-squre
	{
		left: 50px;
	}
	#square-box
	{
		top: 270px;
		left: 20px;
		width: 90%px;
		height: 200px;
	}
	#caption1
	{
		padding-top: 2%;
		font-size: 24px;
	}
	#sub1
	{
		font-size: 14px;
	}
	.line
	{
		margin-left: 15px;
	}
	.service
	{
		padding-top: 150px;
	}
	.service-para
	{
		margin-left: 30px;
		width: 90%;
	}
	.p1
	{
		font-size: 23px;
	}
	.shiping-para
	{
		display: inline;
		width: 90%;
	}
	.warranty-para
	{
		display: inline;
		width: 90%;
	}
	#imgexp
	{
		width: 90%;
		height: 50%;
		margin-left: 20px;
		margin-top: 20px;
	}
	#experience-heading
	{
		width: 100%;
	}
	#Experience-paragraph
	{
		margin-left: 20px;
	}
	#experience-para
	{
		width: 90%;
	}
	.sub-exp{
		padding-left: 10px;
		margin-left: -8px;
	}
	#numbers
	{
		font-size: 20px;
	}
	.expernce-head
	{
		margin-left: -30px;
	}
	#exp-p-sub
	{
		font-size: 10px;
	}
	#cus-p
	{
		font-size: 25px;
	}
	#arrows
	{
		margin-left: -80px;
		margin-top: 45px;
	}
	.testi-one
	{
		width: 80%;
		height: 80%;
	}
	.testi-para-head
	{
		font-size: 22px;
	}
	.testi-para
	{
		font-size: 14px;
	}
	.testi-two
	{
		width: 80%;
		height: 80%;
	}
	.testimnl-profile
	{
		margin-top: 15px;
	}
	.subscribe
	{
		width: 85%;
		margin-left: 50px;
	}
	#button
	{
		font-size: 12px;
		padding: 1%;
		margin-left: 0px;
	}
	#company-about
	{
		width: 66%;
		margin-left: -45px;
	}
	#company-about-para
	{
		width: 80%;
	}
	#social-media
	{
		margin-left: 30px;
	}
}
@media (max-width: 320px)
{
	#cntr-heading
	{
		left: 5px;
	}
	#right-heading
	{
		margin-left: 160px;
	}
	#square-box
	{
		left: 20px;
		top: 230px;
		width: 80%px;
	}
	#sub1
	{
		font-size: 10px;
	}
	.service
	{
		padding-top: 180px;
	}
	.line
	{
		width: 13%;
		margin-top: 40px;
	}
	#caption2
	{
		padding-left: 3%;
		font-size: 18px;
		font-weight: 600;
	}
	.service-para-subdiv
	{
		width: 90%;
		display: inline-block;
	}
	.p1
	{
		font-size: 16px;
		font-weight: 550;
	}
	#experience-heading
	{
		font-weight: 600;
	}
	#experience-para
	{
		font-size: 15px;
	}
	.expernce-cont
	{
		margin-left: -15px;
	}
	.numbers
	{
		font-size: 30px;
	}
	.numbr-icons
	{
		margin-top: 0px;
	}
	#exp-p
	{
		font-size: 22px;
	}
	.exp-head
	{
		font-size: 18px;
	}
	#exp-p-sub
	{
		width: 104%;
		font-size: 10px;
		margin: 5px;
	}
	#cus-p
	{
		font-size: 20px;
	}
	#arrows
	{
		margin-top: 25px;
	}
	.testi-para-head
	{
		font-size: 19px
	}
	.testi-para
	{
		font-size: 13px;
	}
	.subscribe{
		width: 85%;
	}
	#sub-p
	{
		font-size: 11px;
	}
	
	#button
	{
		margin-left: 0px;
		padding: 1%;
	}
	#company-about
	{
		margin-top: 20px;
		margin-left: -80px;
		width: 75%;
	}
	#company-about-para
	{
		font-size: 10px;
	}
	#social-media
	{
		margin-left: 20px;
	}
}